<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8">
	<script src="{{ url_for('static', filename='d3/d3.v4.js') }}" charset="utf-8"></script>
	<title>Chart {{ chartNumber }}</title>
	<style type="text/css">

	#wrapper {
		display: flex; 
		flex-direction: row;
		width: 100%;
	}

	</style>
</head>
<body>
	<div id="wrapper">
		<figure>
			<script type="text/javascript">
			// Define margins

			var svgWidth = 800;
			var svgHeight = 500;
				
			var margin = {top: 20, right: 50, bottom: 30, left: 100};
			var chartWidth = svgWidth - margin.left - margin.right;
			var chartHeight = svgHeight - margin.top - margin.bottom;

			chart = d3.select("figure")
				.append("svg")
				.attr("width", svgWidth)
				.attr("height", svgHeight)
				.append("g")
					.attr("transform", "translate("+margin.left+", "+margin.top+")");

			function generateBarChart(){
				
				var xScale = d3.scaleLinear()
			                     .domain([0, d3.max(dataset, function(d){ return +d.Value; }) ])
			                     .range([0, chartWidth]);

			    var yScale = d3.scaleBand()
			          			.domain(dataset.map(function(d) { return d.Name; }))
								.range([0, chartHeight])
								.paddingInner(0.2)	
				
				// Create an x-axis connected to the x scale
				var xAxis = d3.axisBottom()
								.scale(xScale)
								.ticks(7);

				//Define Y axis
				var yAxis = d3.axisLeft()
								.scale(yScale)
								.ticks();
							  
				// Call the x-axis
				chart.append("g")
					.attr("class", "axis") // For styling.
					.attr("transform", "translate(0," + chartHeight + ")")
					.call(xAxis);
					
				// Call the y axis
				chart.append("g")
					.attr("class", "axis")
					.call(yAxis);
							
				// Add rectangles
				chart.selectAll("rect")
				   .data(dataset)
				   .enter()
					   .append("rect")
					   .attr("x", 0)
					   .attr("y", function(d) { return yScale(d.Name); })
					   .attr("width", function(d) { return xScale(+d.Value); })
					   .attr("height", yScale.bandwidth() ) // returns width (in this case height) of each band.
					   .attr("fill", "Green");
			}

			function generateColumnChart(){

			    var xScale = d3.scaleBand()
			          			.domain(dataset.map(function(d) { return d.Name; }))
								.range([0, chartWidth])
								.paddingInner(0.2)

				var yScale = d3.scaleLinear()
			                     .domain([0, d3.max(dataset, function(d){ return +d.Value; }) ])
			                     .range([chartHeight, 0]);
				
				// Create an x-axis connected to the x scale
				var xAxis = d3.axisBottom()
								.scale(xScale)
								.ticks(7);

				//Define Y axis
				var yAxis = d3.axisLeft()
								.scale(yScale)
								.ticks();
							  
				// Call the x-axis
				chart.append("g")
					.attr("class", "axis") // For styling.
					.attr("transform", "translate(0," + chartHeight + ")")
					.call(xAxis);
					
				// Call the y axis
				chart.append("g")
					.attr("class", "axis")
					.call(yAxis);
							
				// Add rectangles
				chart.selectAll("rect")
				   .data(dataset)
				   .enter()
					   .append("rect")
					   .attr("x", function(d) { return xScale(d.Name); })
					   .attr("y" , function(d) { return yScale(+d.Value); }) 
					   .attr("width", xScale.bandwidth())
					   .attr("height", function(d) {return chartHeight - yScale(+d.Value); }) 
					   .attr("fill", "Green");
			}

			// Load the file data.csv and generate a visualisation based on it
			d3.json("/data/{{ chartNumber }}", function(data) {

				chartType = data["type"];
				dataset = data["data"];

				console.log(dataset);
				
				if (chartType == "bar") {
					generateBarChart();
				} else if (chartType == "col") {
					generateColumnChart()
				}				
			});

			</script>
		</figure>
		<aside>
			 <form action="{{ url_for('results', chartNumber=chartNumber) }}" method="post">
			 	<p>Which is the 3rd tallest column?</p>
			 	A <input type="radio" value="1" name="column" /><br>
				B <input type="radio" value="2" name="column" /><br>
				C <input type="radio" value="3" name="column" /><br>
				D <input type="radio" value="4" name="column" /><br>
				E <input type="radio" value="5" name="column" /><br>
				Height of that column: <input type="text" name="columnSize"><br><br>			
				<input type="submit" value="Next">
			</form> 
		</aside>
	</div>
</body>
</html>